@{
    ViewData["Title"] = "Login - Fitness centar";
    Layout = "_LayoutNoFooter";
}
@model Seminarski_fitness_centar_IB130116.ViewModels.LoginVM;
<!-- Login form -->
<div class="col-md-4 col-md-offset-4">

    <h2>@ViewData["Title"]</h2>
    <form asp-controller="Login" asp-action="Index" id="LoginForm" method="post">
        <hr />
        @*@if (ViewData["ErrorMessage"] != null || TempData["ErrorMessage"] != null)
            {
                <div id="ErrorMessage" class="alert alert-danger">
                    @ViewData["ErrorMessage"]
                    @TempData["ErrorMessage"]
                </div>
            }*@
        

        <div class="row">
            <div class="col-md-12">
                User:
            </div>
            <div class="col-md-12">
                @Html.TextBoxFor(U => U.Username)
            </div>
            <span asp-validation-for="Username" class="alert alert-form-error"></span>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                Lozinka:
            </div>
            <div class="col-md-12">
                @Html.PasswordFor(U => U.Password)
            </div>
            <span asp-validation-for="Password" class="alert alert-form-error"></span>
        </div>
        <br />

        @Html.HiddenFor(U => U.IsLogging)
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
    <hr />
    @Html.ActionLink(("Nemate korisniki racun? Registrirajte se!"), "", "Register")
    <div><br /></div>
    <div class="container container-no-padding">
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#show_login_info">Pogledaj login podatke</button>
        <div id="show_login_info" class="collapse">
            <div>
                <h4>Admini: </h4>
                <p>
                    Username: master / Password: sarajevo <br />
                    Username: admin2 / Password: mostarmostar
                </p>
                <h4>Zaposlenici: </h4>
                <p>
                    Username: mujo_mujic / Password: mujomujic <br />
                    Username: haso_hasic / Password: hasohasic
                </p>
            </div>
        </div>
    </div>

</div>



<script>
    $ = jQuery;
    $(document).ready(function () {
        $('input[name="IsLogging"]').val(1);
    })
</script>